<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Cadastro</title>
</head>

<body>
    <header>
        <div>
            <img class="logo img-fluid" src="/img/logo_SocialBlend.png" />
        </div>
    </header>
    <% if (message) { %>
        <p>
            <%= message %>
        </p>
        <% } %>
            <div class="cadastro container mt-5">
                <div class="row">
                    <div class="col-md-8 mt-5">
                        <form action="/cadastro" method="post">
                            <span class="d-block text-center mb-5">
                                <h1>Cadastro</h1>
                            </span>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" name="nome" placeholder="Nome completo"
                                    required>
                                <label for="nome" class="label">Nome</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" name="email" placeholder="E-mail" required>
                                <label class="label" for="email">E-mail</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" name="password" placeholder="Senha"
                                    required>
                                <label class="label" for="password">Senha</label>
                            </div>
                            <div class="form-floating mt-2">
                                <input type="date" class="form-control" name="data" placeholder="Data de Nascimento"
                                    required>
                                <label class="label" for="data">Data de Nascimento</label>
                            </div>
                            <div class="text-center mt-5">
                                <button type="submit" class="btn btn-lg">Cadastrar</button>
                            </div>
                            <div class="text-center mt-4">
                                <hr />
                                <span>Já possui uma conta ? <a href="/">Acessar</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
</body>

</html>