* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0c2840;
  color: #fff;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #ddd;
}

main {
  flex: 1;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
}

.publicacao {
  margin-bottom: 40px;
}

.publicacao h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.publicacao textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  margin-bottom: 10px;
}

.publicacao button {
  background-color: #20B383;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.publicacao button:hover {
  background-color: #555;
}

.feed {
  margin-bottom: 40px;
  }
  
  .feed h2 {
  font-size: 24px;
  margin-bottom: 10px;
  }
  
  .feed ul {
  list-style: none;
  padding: 0;
  }
  
  .feed li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  }
  
  .feed .autor {
  font-weight: bold;
  margin-bottom: 5px;
  }
  
  .feed .data {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
  }
  
  .feed .texto {
  margin-top: 10px;
  }

  .perfil {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.perfil img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	margin-bottom: 20px;
}

.perfil h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

.perfil p {
	margin-bottom: 5px;
}

.perfil a {
	display: inline-block;
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #20B383;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.2s;
}

.perfil a:hover {
	background-color: #007D52;
}

.perfilEdit {
  width: 100%;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}


.perfilEdit img {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
}

.perfilEdit .container{
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
}
.perfilEdit .row{
  justify-content: center;
}

.perfilEdit input{
  border-radius: 30px;
}

.perfilEdit button[type="submit"] {
  background-color: #20B383;
  color: #fff;  
  border-radius: 30px;
  width: 100%;
  padding: 5px;
}

.perfilEdit button:hover {
  background-color: #007D52;
}

footer {
  background-color: #0c2840;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

footer ul {
  list-style: none;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

footer li {
  margin-right: 10px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

  .login{
    align-items: center;
    justify-content: center;
    background-color: #F4FAFF;
    width: 30%;
    height: 60vh;
  }

  .login .row{
    justify-content: center;
  }

  .login input{
    border-radius: 30px;
  }

  .login button[type="submit"] {
    background-color: #20B383;
    color: #fff;  
    border-radius: 30px;
    width: 100%;
    padding: 5px;
  }

  .login button:hover {
    background-color: #007D52;
  }

  .login a {
    color: #0098FA;
    text-decoration: none;
  }

  .login a:hover{
    color: #007fd4;
  }

  .cadastro{
    align-items: center;
    justify-content: center;
    background-color: #F4FAFF;
    width: 30%;
    height: 70vh;
  }
  .cadastro .row{
    justify-content: center;
  }

  .cadastro input{
    border-radius: 30px;
  }

  .cadastro button[type="submit"] {
    background-color: #20B383;
    color: #fff;  
    border-radius: 30px;
    width: 100%;
    padding: 5px;
  }

  .cadastro button:hover {
    background-color: #007D52;
  }

  .cadastro a {
    color: #0098FA;
    text-decoration: none;
  }

  .cadastro a:hover{
    color: #007fd4;
  }
